.package {
   float: left;
  width: 29.33%;
  margin: 1%;
  padding: 1%;
  background-color: #eee;
  text-align: center;
}
.content {
  padding: 10px;
  background-color: #888;
  clear: both;
  margin-top: 75px;
}
.packages::after {
  content: "";
  clear: both;
  display: block;
}